body {
    background-image: url('../imagenes/alineacion-fondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
        background-size: cover;
}


.textotarjeta {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.mynav {
    background-image: linear-gradient(to right, rgb(8, 8, 105), rgb(129, 20, 35));
}

.fondotarjeta {
    background-image: linear-gradient(to bottom right, rgb(8, 8, 105), rgb(129, 20, 35))
}