body{
    background:#2a6194
}
h1{
    text-align: center;
    color:yellow;

}

.img-fluid {
height: 670px;
width: 100%;
border-radius: 20px;
padding: 18px;;

}


.img-thumbnail{
    width: 400px;
    height: 400px;
    border: 2px solid black;
}

h3 {
    padding-bottom: 20px;
    color: rgb(245, 229, 6);
}
.col {
    margin-left: 120px;
    margin-top: 50px;
}
p {
    color: black;
    margin-top: 20px;
}