.img-fluid{
    width: 600px;
    height: 350px;
    display: block;
    margin: auto;
   
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

h2{
    margin-bottom: 40px;
    text-align: center;
}

p {
    border: 1px solid black;  
    text-align: left;
    margin-right: auto;
}

.baloncesto2 {
text-align: center;
}

body {
    background: rgb(236, 236, 203);
    align-content: center;  
}

.balonmano2 {
text-align: center;
}

.hockey2 {
text-align: center;
}

.futbolsala2 {
text-align: center;
}

div {
    text-align: center;
    margin-left:auto;
}

h5 {
    text-align: center;
    margin-bottom: auto;
}

.card {
    text-align: center;
}